body {
    background-color: #f1f1f1;
}
.navbar {
    background-color: #f1f1f1;
}

#statesForm {
    margin: 100px 700px 0px 100px;
}

.btn-primary {
    margin-top: 10px;
}

#covidimg {
    max-width: 600px;
    max-height: 500px;
    display: inline;
    float: right;
}